<h1>Listing certificates</h1>

<table>
  <thead>
    <tr>
      <th>Credit category</th>
      <th>Credit total</th>
      <th>Credit date</th>
      <th>Credit method</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.credit_category %></td>
        <td><%= certificate.credit_total %></td>
        <td><%= certificate.credit_date %></td>
        <td><%= certificate.credit_method %></td>
        <td><%= link_to 'Show', certificate %></td>
        <td><%= link_to 'Edit', edit_certificate_path(certificate) %></td>
        <td><%= link_to 'Destroy', certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificate', new_certificate_path %>
